/* Add CSS styling here */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My Own Styles */


*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    max-width: 100rem ;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    height: inherit;
}
/* Navigation */
.nav-container{
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.nav-container h1{
    font-family: 'Kaisei HarunoUmi', serif;
   
}

a{
    display: inline-block;
    border: 2px solid black;
    padding: 1rem 3rem;
    width: max-content;
    text-decoration: none;

}
a:visited{
    text-decoration: none;
    color: inherit;
    background-color:red;
}
a:hover{
    background-color:black;
    color: white;
}
.nav-links{
    margin-top: 3rem;
    margin-left: 2rem;
    width: max-content;
}
/* background styles */

.background-container{
    background-color: #C0C0C0;
    padding: 2rem;
    border-radius: 0.5rem;
}


/* My name section */

.my-name-section-container{
display: flex;
column-gap: 7rem;
}

.my-name-section-container img{
    width: 35%;
    height: 35%;
    border-radius: 0.5rem;
    border: 0.3rem solid #3A6EA5;
}
.my-name-text-container{
width: 40%;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 3rem;
}



.my-name-section-container a{
    margin: 2rem 0;
}
/* gallery img containers */
.img-containers{
    height: 20rem;
    width: 20rem;
  background-color: lightblue;
  margin: 2rem;
  border-radius: 0.5rem;

}

.gallery-images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-between;
    margin-top: 2rem;
}