/* Add CSS styling here */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My Own Styles */

/* general styles */
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    max-width: 100rem ;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: inherit;
}
p, a{
    font-size: 1.8rem;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}
/* Navigation */
.nav-container{
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.nav-container h1{
   font-size: 3.5rem;
}

a{
    display: inline-block;
    border: 2px solid black;
    padding: 1rem 3rem;
    width: max-content;
    text-decoration: none;
    border-radius: 0.2rem;
}
a:visited{
    text-decoration: none;
    color: inherit;
    background-color:red;
}
a:hover{
    background-color:black;
    color: white;
}
.nav-links{
    margin-top: 3rem;
    margin-left: 2rem;
    width: max-content;
}
/* background styles */

.background-container{
    background-color: #C0C0C0;
    padding: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


/* My name section */

.my-name-section-container{
display: flex;
column-gap: 7rem;
}

.my-name-section-container img{
    /* using a fixed width because I dont want this to change */
    width: 25rem;
    height:25rem;
    border-radius: 0.5rem;
}
.my-name-text-container{
width: 40%;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 3rem;
}



.my-name-section-container a{
    margin: 2rem 0;
}
.my-name-text-container h2{
    font-size: 2.8rem;
}
/* gallery img containers */
.img-and-text-container{
    height: 20rem;
    width: 18rem;
  margin: 2rem;
  border-radius: 0.5rem;
text-align: center;
}

.img-and-text-container p{
    margin-top: 1rem;
}

.gallery-images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;

}
.gallery-image{
    background-image: url("https://source.unsplash.com/random/200x200");
    height: 180px;
    width: inherit;
    background-position: center;
    border-radius: inherit;
}


/* footer */

.footer-content-container{
    background-color: #4A7C59;
    padding: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text-container a{
    color: rgb(0, 0, 0);
    background-color: #3A6EA5;
    margin-top: 2rem;
}
.footer-text-container a:hover{
    background-color: black;
    color:white;
}

.footer-text-container h3{
    font-size: 2.3rem;
}

/* Tablet Responsiveness */
@media screen and (max-width:800px){

}
/* Mobile 500px responsiveness */
@media screen and (max-width:500px){

    .nav-container{
        padding: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-container h1{
        font-size: 6rem;
        text-transform: uppercase;
        margin-top: 5%;
    }
    .nav-links{
        width: max-content;
        margin: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6%;
    }
    .nav-links a{
        padding: unset;
        min-width: 100%;
        text-align: center;
        padding: 1rem 5rem;
        margin-bottom: 1%;

    }
    /* Background */
    .background-container{
        background-color:unset;
        padding:unset;
    }

    /* My Name Section */

    .my-name-section-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .my-name-text-container{
        align-items: center;
        width: 100%;
    }
    .my-name-text-container h2{
        /* font-size: 4rem;
        white-space: nowrap; */
        display: none;
    }
    .my-name-text-container a{
        padding: 1rem 5rem;
        margin: 6% 0;
    }


    .my-name-text-container p{
        width: 90%;
    }

    /* Hide the last two projects */
    .res-ignore{
        display: none;
    }
    /* Footer section */

    .footer-content-container{
        background-color:black;
        color: white;
    }
    .footer-content-container a{
        color: inherit;
    }

}